body{
  margin:0;
  background:#0f1117;
  color:white;
  font-family:Arial, Helvetica, sans-serif;
}

.app{
  padding:30px;
}

.top-section{
  display:flex;
  gap:40px;
  align-items:flex-start;
}

.bottom-section{
  display:flex;
  gap:40px;
  margin-top:40px;
}

.control-panel{
  min-width:250px;
  display:flex;
  flex-direction:column;
  gap:10px;
  padding:20px;
  border:1px solid #333;
  border-radius:10px;
}

.grid{
  display:grid;
  gap:2px;
}

.cell{
  width:40px;
  height:40px;
  background:#222;
  border:1px solid #444;

  display:flex;
  justify-content:center;
  align-items:center;

  font-size:14px;
}

.formula-box{
  margin-top:40px;
  padding:20px;
  border:1px solid #333;
  border-radius:10px;
}